<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button id="upload_widget" class="cloudinary-button">Upload files</button>
    <img id="avatar-thumpnail" width="200px" height="200px"/>
    
    <p id="avatar_url"></p>
    

    <script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">
        var myWidget = cloudinary.createUploadWidget({
            cloudName: 'dmqd2y3mp',
            uploadPreset: 'square_2MB',
            cropping: true, //add a cropping step
            showSkipCropButton: false, //don't show the skip crop button
            croppingAspectRatio: 1, //crop the image to a 1:1 aspect ratio
            //croppingCoordinatesMode: 'custom', //use custom cropping coordinates
            // showAdvancedOptions: true,  //add advanced options (public_id and tag)
            sources: [ "local", "url"], // restrict the upload sources to URL and local files
            multiple: false,  //restrict upload to a single file
            folder: "PRJ_ECOMMERCE", //upload files to the specified folder
            resourceType: "image", //specify the resource type to upload
            // tags: ["users", "profile"], //add the given tags to the uploaded files
            // context: {alt: "user_uploaded"}, //add the given context data to the uploaded files
            //clientAllowedFormats: ["images/*"], //restrict uploading to image files only
            //maxImageFileSize: 2000000,  //restrict file size to less than 2MB
            // maxImageWidth: 2000, //Scales the image down to a width of 2000 pixels before uploading
            // theme: "purple", //change to a purple theme
        }, (error, result) => {
            if (!error && result && result.event === "success") {
                console.log('Done! Here is the image info: ', result.info);
                document.querySelector('#avatar-thumpnail').src = result.info.secure_url;
                document.querySelector('#avatar_url').textContent = result.info.secure_url;
            }
        }
        )

        document.getElementById("upload_widget").addEventListener("click", function () {
            myWidget.open();
        }, false);
    </script>
</body>

</html>